@page "/reports"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IBillsRepository Repository
@attribute [Authorize]
@if (years == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatAccordion Multi="true">
        @foreach (var @year in @years)
        {
            <MatExpansionPanel LazyRendering=true>
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>
                        <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 800px;">
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell" mat-layout-grid-cell-span-10>@year</div>
                            </div>
                        </div>
                    </MatExpansionPanelHeader>
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    <ReportByYearComponent year="@year" />
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        }
    </MatAccordion>
}

@code{
    private IEnumerable<string> years;
    [CascadingParameter]
    public Error Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            years = (await this.Repository.GetBills())
                .Select(b => b.Date.ToString("yyyy"))
                .Distinct();
        }
        catch (Exception e)
        {
            Error.ProcessError(e);
        }
    }
}