@page "/"
@using web.Shared.Model
@using System.Linq
@inject HttpClient Http


@if (bills == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatAccordion Multi="true">
        @foreach (var @bill in @bills)
        {
            <MatExpansionPanel LazyRendering=true>
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>
                        @bill.DateAsString
                    </MatExpansionPanelHeader>
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    <DetailComponent yearMonth="@bill.YearMonth" />
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        }
    </MatAccordion>
}
@code{
    private Bill[] bills;
    protected override async Task OnInitializedAsync()
    {
        bills = (await Http.GetFromJsonAsync<Bill[]>(UrlConstants.BillsUrl))
            .OrderByDescending(b => b.Date).ToArray();
    }
}